.mainLayout {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.mainLayoutContent {
  flex-grow: 1;
  overflow-x: auto;
  z-index: var(--layer-base);
}

.mainNav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--layer-nav);
}
